[submodule "5-t-swap-audit/lib/forge-std"]
	path = 5-t-swap-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-t-swap-audit/lib/openzeppelin-contracts"]
	path = 5-t-swap-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
